<div class="container">
  <div class="row">
    <!-- add student -->
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
      <h2 class="m-0">Students</h2>
      <!-- add student btn -->
      <div>
        <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="add-student">
          <span class="h6 pe-1">&#43;</span> Add Student
        </button>
      </div>
    </div>
  </div>
  <!-- filters -->
  <form class="row" [formGroup]="filtersForm">
    <div class="col-12 col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
          <mat-option value="">All </mat-option>
          <mat-option class="text-uppercase" value="firstYear">
            First Year
          </mat-option>
          <mat-option class="text-uppercase" value="secondYear">
            Second Year
          </mat-option>
          <mat-option class="text-uppercase" value="thirdYear">
            Third Year
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Roll Number</mat-label>
        <input matInput formControlName="rollNumber" />
      </mat-form-field>
    </div>
    <div class="col-12 col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" />
      </mat-form-field>
    </div>
  </form>
  <!-- students cards -->
  <section class="row py-3 mt-3">
    <div class="col-12 text-center" *ngIf="studentsList.length === 0">
      <img src="/assets/no-data-found.png" class="w-100" alt="NO DATA FOUND">
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4 mb-5" *ngFor="let student of studentsList">
      <app-student-card [student]="student" (deleteStudentId)="deleteStudent($event)" *ngIf="studentsList.length !== 0">
      </app-student-card>
    </div>
  </section>
</div>