<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Issue Book Dashboard</h2>
            <div>
                <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="issue-book">
                    <span class="h6 pe-1">&#43;</span> Issue Book
                </button>
            </div>
        </div>
        <!-- empty list -->
        <div class="col-12 text-center">
            <img src="/assets/no-data-found.png" class="w-100" alt="NO DATA FOUND">
        </div>

    </div>
</div>