<div class="container">
    <section class="row">
        <!-- page title and add new book button -->
        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Materials List</h2>
            <div>
                <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="add-material">
                    <span class="h6 pe-1">&#43;</span> Add Materials
                </button>
            </div>
        </div>
    </section>
</div>