<div class="container">
    <section class="row">
        <!-- page title and add new book button -->
        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Materials List</h2>
            <div>
                <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="add-material">
                    <span class="h6 pe-1">&#43;</span> Add Materials
                </button>
            </div>
        </div>
    </section>
    <div class="col-12 text-center" *ngIf="materialsList.length === 0">
        <img src="/assets/no-data-found.png" class="w-100" alt="NO DATA FOUND">
    </div>

    <!-- materials view -->
    <section class="row">
        <div class="col-12 col-md-4 col-lg-3 my-1" *ngFor="let pdf of materialsList">
            <mat-card class="position-relative pdf-card">
                <!-- pop up wrapper -->
                <div class="pop-up-wrapper position-absolute cursor-pointer" (click)="openDialog(pdf)">
                    <mat-icon class="fs-1 text-white">center_focus_strong</mat-icon>
                </div>
                <!-- <img src="/assets/thumbnail.png" alt="Thumbnail" class="thumbnail-img"> -->
                <div class="shadow">
                    <pdf-viewer [src]="pdf?.file?.url" [render-text]="true" [original-size]="false"
                        class="thumbnail-img">
                    </pdf-viewer>
                </div>
                <div class="pdf-details-wrapper">
                    <div class="row mt-3">
                        <div class="col-8 fw-bold text-uppercase">
                            {{pdf.title}}
                        </div>
                        <div class="col-4 text-end">
                            <mat-icon class="text-danger cursor-pointer" (click)="deleteMaterial(pdf._id)">delete
                            </mat-icon>
                        </div>
                    </div>
                    <p class="description-text" *ngIf="pdf.description">{{pdf?.description}}</p>
                    <p class="description-text" *ngIf="!pdf.description">Description not available</p>
                </div>
            </mat-card>
        </div>
    </section>
</div>