<div class="container-fluid main-container h-100 p-md-5">
    <form class="row" [formGroup]="createBookForm" (ngSubmit)="createBook()">
        <!-- title details -->
        <div class="col-12 d-flex justify-content-between">
            <h1> {{bookId === "" ? 'Add Book' : 'Update Book'}}</h1>
            <p><a routerLink="/books">Books</a> / Add-Book</p>
        </div>
        <!-- add book -->
        <div class="col-12 col-lg-6 mt-md-5">
            <mat-card class="h-100">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Book Title</mat-label>
                                <input matInput formControlName="title" />
                            </mat-form-field>
                        </div>
                        <!-- category selection -->
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Book Category</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option class="text-uppercase" [value]="category"
                                        *ngFor="let category of booksCategory">
                                        {{category}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- author selection -->
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Author Name</mat-label>
                                <mat-select formControlName="author">
                                    <mat-option [value]="author._id" *ngFor="let author of authors">
                                        {{author.authorName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- for adding new author link -->
                        <div class="text-md-end">
                            To add new Author <a routerLink="/authors/add-author">Click Here</a>
                        </div>
                        <!-- books avalible -->
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>No of books avalible</mat-label>
                                <input matInput formControlName="totalCount" type="number" min="1" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Price</mat-label>
                                <input matInput formControlName="price" type="number" min="1" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div
                        class="col-12 col-lg-6 mt-4 mt-md-0 d-flex justify-content-center align-items-center border-start border-danger">
                        <div class="position-relative cursor-pointer" *ngIf="selectedImagePreviewURL === ''">
                            <img [src]="selectedImagePreviewURL === '' ? '/assets/book-2.webp' : selectedImagePreviewURL "
                                alt="Upload book image" class="w-100 book-img" (click)="openFileSelectionDialog()">
                            <p class="upload-title w-100 text-center text-dark fw-bold" (click)="openFileSelectionDialog()">Upload Book Image</p>
                        </div>
                        <!-- after selected book image -->
                        <div class="position-relative cursor-pointer" *ngIf="selectedImagePreviewURL !== ''">
                            <img [src]="selectedImagePreviewURL" alt="Book image" class="w-100 book-img"
                                (click)="openFileSelectionDialog()">

                            <mat-icon class="close-icon cursor-pointer position-absolute top-0 end-2"
                                (click)="selectedImagePreviewURL = ''" *ngIf="selectedImagePreviewURL !== ''">
                                cancel
                            </mat-icon>
                        </div>
                        <input id="book-file" (change)="handleFileSelection()" accept="image/*" type="file"
                            class="d-none" #bookImage />
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-md-5">
            <mat-card class="h-100">
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Book Code</mat-label>
                        <input matInput formControlName="code" />
                    </mat-form-field>
                </div>
                <!-- preferred  year-->
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Preferred Year</mat-label>
                        <mat-select formControlName="preferredYear" multiple>
                            <mat-option class="text-uppercase" value="firstYear">
                                First Year
                            </mat-option>
                            <mat-option class="text-uppercase" value="secondYear">
                                Second Year
                            </mat-option>
                            <mat-option class="text-uppercase" value="thirdYear">
                                Third Year
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- published Year date picking -->
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Published Year</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="publishedYear">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Edition</mat-label>
                        <input matInput formControlName="edition" type="number" min="1" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Publisher Name</mat-label>
                        <input matInput formControlName="publisher" />
                    </mat-form-field>
                </div>
                <div class="d-flex flex-wrap justify-content-center mt-2">
                    <div>
                        <a [routerLink]="['/books']" class="btn bg-danger text-white btn-sm me-3 rounded shadow">
                            <span class="h6">&#10006; </span>
                            Cancel
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm rounded shadow" [disabled]="createBookForm.invalid">
                            {{bookId === "" ? 'Add Book' : 'Update Book'}}
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </form>
</div>