// .main-container {
//     background-image: url('/assets/lib-1.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.book-img {
    max-height: 280px;
    max-width: 210px;
}

.upload-title {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
