<div class="container">
    <section class="row">
        <!-- page title and add new book button -->
        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Books List</h2>
            <div>
                <button class="btn btn-secondary btn-sm rounded shadow m-0 text-white" routerLink="add-book">
                    <span class="h6 pe-1">&#43;</span> Add Book
                </button>
            </div>
        </div>
        <!-- filters -->
        <div class="col-12">
            <form class="row" [formGroup]="filtersForm">
                <div class="col-lg-3 col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Author</mat-label>
                        <mat-select formControlName="author">
                            <mat-option value="">All </mat-option>
                            <mat-option [value]="a._id" *ngFor="let a of authors">{{a.authorName}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option value="">All </mat-option>
                            <mat-option [value]="c" *ngFor="let c of booksCategory">{{c}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" type="text" formControlName="title" />
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Code</mat-label>
                        <input type="text" matInput placeholder="Code" formControlName="code" />
                    </mat-form-field>
                </div>
            </form>
        </div>
    </section>
    <hr>
    <!-- empty list -->
    <div class="col-12 text-center" *ngIf="bookList.length === 0">
        <img src="/assets/no-data-found.png" class="w-100" alt="NO DATA FOUND">
    </div>
    <!-- book preview cards -->
    <section *ngIf="bookList.length !== 0">
        <app-book-card [bookList]="bookList" (deleteBookId)="deleteBook($event)"></app-book-card>
    </section>
</div>