<div class="h-100 container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div><h1>Create Student</h1></div>
      <div><a routerLink="student">student</a>/add-student</div>
    </div>
    <form class="col-12" [formGroup]="createStudentForm">
      <mat-card class="h-100">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" type="text" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Roll No</mat-label>
              <input matInput formControlName="rollNo" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year" multiple>
              <mat-option class="text-uppercase" value="firstYear">
                First Year
              </mat-option>
              <mat-option class="text-uppercase" value="secondYear">
                Second Year
              </mat-option>
              <mat-option class="text-uppercase" value="thirdYear">
                Third Year
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>DOB</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="dob" />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker
              #dp
              startView="multi-year"
              panelClass="example-month-picker"
            >
            </mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card>
    </form>
  </div>
</div>
