<div class="container h-100">
    <div class="row justify-content-center align-items-md-center h-100">
        <div class="col-12 col-md-6 col-lg-4">
            <form [formGroup]="authorForm" (ngSubmit)="createAuthor()">
                <h1 class="text-center mb-4"> {{authorId === '' ? 'Create New Author' : 'Update Author'}} </h1>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Author Name</mat-label>
                    <input matInput formControlName="authorName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Author Email</mat-label>
                    <input type="email" email matInput formControlName="authorEmail" />
                </mat-form-field>
                <div class="d-flex justify-content-center flex-wrap mt-4">
                    <div>
                        <a [routerLink]="['/author']" class="btn bg-danger text-white btn-sm me-3 rounded shadow">
                            <span class="h6">&#10006; </span>
                            Cancel
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm rounded shadow" [disabled]="authorForm.invalid">
                            {{authorId === '' ? 'Create' : 'Update'}} Author
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>