<div class="container">
    <div class="row">
        <!-- add admin -->

        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Admins List</h2>
            <!-- add admin btn -->
            <div>
                <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="add-admin">
                    <span class="h6 pe-1">&#43;</span> Add Admin
                </button>
            </div>
        </div>
    </div>
</div>