<div class="container">
    <div class="row">
        <h2>Issue Book</h2>
        <div class="col-8 col-md-4 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Roll-Number</mat-label>
                <input matInput placeholder="Roll Number" type="text" [formControl]="rollNumber" />
            </mat-form-field>
        </div>
        <div class="col-4 col-md-2">
            <button type="button" class="btn btn-primary w-100 mt-2" (click)="getStudentDetails()">Find</button>
        </div>
    </div>
    <!-- student details -->
    <div class="col-12">
        <div class="row justify-content-around">
            <mat-card class="col-12 col-md-6 py-5">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center order-md-2">
                        <img src="/assets/default-profile.png" alt="Default Profile" class="w-100 profile-image">
                    </div>
                    <div class="col-12 col-md-6 order-md-1">
                        <p class="mt-3">Name : <span class="text-primary">Devendran</span></p>
                        <p>Roll Number : <span class="text-primary">2019PECIT248</span></p>
                        <p>Email : <span class="text-primary">devendranvemula@gmail.com</span></p>
                    </div>
                </div>
            </mat-card>
            <mat-card class="col-12 col-md-4 py-5">
                <p>DOB : <span class="text-primary">27/08/2002</span></p>
                <p>Year : <span class="text-primary">First Year</span></p>
                <p>Mobile Number : <span class="text-primary">9090909090</span></p>
                <p>Membership : <span class="text-primary">True</span></p>
                <p>membershipExpireDate : <span class="text-primary">27/08/2023</span></p>
            </mat-card>
        </div>
    </div>
    <!-- book form -->
    <div class="row mt-2">
        <h2>Book Details</h2>
        <div class="col-8 col-md-4 col-lg-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Book Id</mat-label>
                <input matInput placeholder="Book Number" type="text" [formControl]="bookCode" />
            </mat-form-field>
        </div>
        <div class="col-4 col-md-2">
            <button type="button" class="btn btn-primary w-100 mt-2" (click)="getBookDetails()">Find</button>
        </div>
    </div>
    <!-- Book details -->
    <div class="col-12">
        <div class="row justify-content-around">
            <mat-card class="col-12 col-md-6 py-5">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center order-md-2">
                        <img src="/assets/book-2.webp" alt="Default Book Image" class="w-100 profile-image">
                    </div>
                    <div class="col-12 col-md-6 order-md-1">
                        <p class="mt-3">Title : <span class="text-primary">My New Book</span></p>
                        <p>Book Code : <span class="text-primary">6473873</span></p>
                        <p>Author : <span class="text-primary">Devendran</span></p>
                        <p>Author Email : <span class="text-primary">devendranvemula@gmail.com</span></p>
                        <p>Book Price : <span class="text-primary">343</span></p>
                    </div>
                </div>
            </mat-card>
            <mat-card class="col-12 col-md-4 py-5">
                <p>Category : <span class="text-primary">New category</span></p>
                <p>Total Count : <span class="text-primary">10</span></p>
                <p>Edition : <span class="text-primary">2</span></p>
                <p>Visitor Count : <span class="text-primary">2</span></p>
                <p>PublishedYear : <span class="text-primary">{{'27/08/2022' | date}}</span></p>
                <p>Publisher Name : <span class="text-primary">Deva</span></p>
                <p>PreferredYear : <span class="text-primary">First Year</span></p>
            </mat-card>
        </div>
    </div>
</div>